  <h1></h1>
  <h3>問題１</h3>
<%= form_tag('/users', :method => :post) do %>       
        <label name="quiz" value="麻婆豆腐">麻婆豆腐</label>
        <br>
        <input type="radio" name="quiz" value="1">1<br>
        <input type="radio" name="quiz" value="2">2<br>
        <input type="radio" name="quiz" value="3">3<br>
        <input type="radio" name="quiz" value="4">4<br>
        <input type= "submit" name="submit" value="  NEXT  ">
<% end %>
