  <h1>チーム４</h1>
  <h3>問題１</h3>
    <form method="post" action="/new">
        <label name="quiz" value="麻婆豆腐">麻婆豆腐</label>
        <br>
        <input type="radio" name="1" value="1">1<br>
        <input type="radio" name="2" value="2">2<br>
        <input type="radio" name="3" value="3">3<br>
        <input type="radio" name="4" value="4">4<br>
        <input type= "submit" name="submit" value="  NEXT  ">
    </form>
