<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Rankingis</title>
</head>
  <h1>チーム４</h1>
  <h3>RANKING:</h3>
    <table border="1">
    <tr>
    <th>名前</th>
    <th>成績</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    </table><br>
    <input type= "submit" name="back" value="  BACK  ">
</html>
