<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Result</title>
</head>
  <h1>チーム４</h1>
  <h3>成績：</h3>
    <text name="result" value="3/10">3/10</text><br><br>
    あなたは<text name="total" value="100"/>100
        人中<text name="rank" value="20"/>20
    位でした。<br><br>
    <input type= "submit" name="rank" value=" RANKING "><br>
    <input type= "submit" name="back" value="  もう一回？  ">
</html>

