<h1></h1>
<h3>ユーザ登録</h3>
<h5>名前を入力してください！</h5>
<%= form_tag('/users', :method => :post) do %>
        <input type= "text" id="username" name="username"><br><br>
        <input type= "submit" " value="  START!  "><br><br>
	<a href="/ranking"> RANKING</a>
<% end %>
