<h1>チーム４</h1>
<h3>ユーザ登録</h3>
<h5>名前を入力してね！</h5>
        <input type= "text" id="username"><br><br>
        <input type= "submit" " value="  START!  "><br>
        <input type= "submit" name="rank" value="RANKING"><br>
