<div class="users">
  <h1 class="title">早解きクイズ</h1>
  <p class="description">挑戦者の名前を入力してください</p>
  <%= form_tag('/users', :method => :post) do %>
    <input type="text" id="username" name="username">
    <p class="error"><%= @error %></p>
    <input type="submit" value="START">
    <a href="/ranking" class="button">RANKING</a>
  <% end %>
</div>
