<div class="result">
  <h2 class="caption"><%=@username%>さんの成績</h2>
  <p class="score"><span><%=@score%></span>点</p>
  <p class="review">あなたは<%=@total%>人中<%=@rank%>位でした</p>
  <a href="/ranking" class="button">RANKING</a>
</div>
